<footer class="bg-gray-900 text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <p>&copy; 2022 Baiao Food. Todos os direitos reservados.</p>
        </div>
        <div>
            <ul class="flex space-x-4">
                <li><a href="#" class="hover:text-gray-400">Início</a></li>
                <li><a href="#" class="hover:text-gray-400">Sobre</a></li>
                <li><a href="#" class="hover:text-gray-400">Cardápio</a></li>
                <li><a href="#" class="hover:text-gray-400">Contato</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
